@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager nav

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <h3>@context.User.Identity!.Name</h3>
                    <button class="btn btn-danger" @onclick="Logout">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <a href="authentication/login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    public void Logout()
    {
        nav.NavigateToLogout("authentication/logout");
    }
}