@page "/manageview"

<h3>Manage View</h3>

<div class="grid-form">
	<div class="carousel">
		<div class="carousel-track">
			<label class="image">Text</label>
		</div>
	</div>

	<div class="item-a">
		<label>Name</label>
		<input @bind="ProductName" placeholder="Product Name" />
	</div>

	<div class="item-b">
		<label>Price</label>
		<input type="text" @bind="Price" placeholder="$0.00" />
	</div>

	<div class="item-c">
		<label>Description</label>
		<textarea @bind="Description" rows=""></textarea>
	</div>

	<div class="form-group">
	</div>
	<button class="item-d" @onclick="Remove">Remove</button>
	<button class="item-e" @onclick="Edit">Edit</button>
</div>
