name: Build and Deploy the Api and Web Projects

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  format_verification:
    runs-on: self-hosted
    steps:
    - name: Check out the code. 
      uses: actions/checkout@v4

    - name: Verify code formatting and style.
      run: |
        nix-shell -p dotnet-sdk_9 --run "
          dotnet format --verify-no-changes --verbosity diagnostic DerpRaven.Api
          dotnet format --verify-no-changes --verbosity diagnostic DerpRaven.Shared
          dotnet format --verify-no-changes --verbosity diagnostic DerpRaven.UnitTests
          dotnet format --verify-no-changes --verbosity diagnostic DerpRaven.IntegrationTests
          dotnet format --verify-no-changes --verbosity diagnostic DerpRaven.Web
        "
    
  check_for_warnings:
    runs-on: self-hosted
    steps:
    - name: Check out the code. 
      uses: actions/checkout@v4

    - name: Check for warnings with dotnet format  --warnaserror
      run: |
        nix-shell -p dotnet-sdk_9 --run "
          dotnet build --warnaserror DerpRaven.Api
          dotnet build --warnaserror DerpRaven.Shared
          dotnet build --warnaserror DerpRaven.UnitTests
          dotnet build --warnaserror DerpRaven.IntegrationTests
          dotnet build --warnaserror DerpRaven.Web
        "

  run_unit_tests:
    runs-on: self-hosted
    steps:
    - name: Check out the code. 
      uses: actions/checkout@v4

    - name: Run the unit tests.
      run: |
        docker build \
          -f ./UnitTests.Dockerfile \
          -t thomas_test_container \
          .

        docker run --rm thomas_test_container
        echo "going to deploy!!!"

  run_integration_tests:
    runs-on: self-hosted
    steps:
    - name: Check out the code. 
      uses: actions/checkout@v4

    - name: Run the unit tests.
      run: |
        docker build \
          -f ./IntegrationTests.Dockerfile \
          -t thomas_test_container \
          .

        docker run --rm thomas_test_container
        echo "going to deploy!!!"

  build_and_push_api_to_dockerhub:
    needs: [format_verification, check_for_warnings, run_unit_tests, run_integration_tests]
    runs-on: self-hosted
    steps:
    - name: Check out the code. 
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
          
    - name: Build and push Api to DockerHub.
      run: |
        docker build \
          -f ./Api.Dockerfile \
          -t ${{ vars.DOCKERHUB_USERNAME }}/derp-raven-api:${{ github.run_number }} \
          .

        docker push -q ${{ vars.DOCKERHUB_USERNAME }}/derp-raven-api:${{ github.run_number }}

  build_and_push_web_to_dockerhub:
    needs: [format_verification, check_for_warnings, run_unit_tests, run_integration_tests]
    runs-on: self-hosted
    steps:
    - name: Check out the code. 
      uses: actions/checkout@v4
      
    - name: Login to Docker Hub.
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Web to DockerHub.
      run: |
        docker build \
          -f ./Web.Dockerfile \
          -t ${{ vars.DOCKERHUB_USERNAME }}/derp-raven-web:${{ github.run_number }} \
          --build-arg BASE_ADDRESS="http://api.dragonbytes.org" \
          --build-arg FEATURE_FLAG_ON=${{ vars.FEATURE_FLAG_ON }} \
          .

        docker push -q ${{ vars.DOCKERHUB_USERNAME }}/derp-raven-web:${{ github.run_number }}

    - name: Build and push Web to DockerHub.
      run: |
        docker build \
          -f ./Web.Dockerfile \
          -t ${{ vars.DOCKERHUB_USERNAME }}/derp-raven-web:azure-${{ github.run_number }} \
          --build-arg BASE_ADDRESS="http://derpraven-api.westus3.azurecontainer.io:8080" \
          .

        docker push -q ${{ vars.DOCKERHUB_USERNAME }}/derp-raven-web:azure-${{ github.run_number }}

  deploy_to_kubernetes:
    needs: [build_and_push_api_to_dockerhub, build_and_push_web_to_dockerhub]
    runs-on: self-hosted
    steps:
    - name: Check out the code. 
      uses: actions/checkout@v4

    - name: deploy to kubernetes
      run: |
        kubectl apply -f kube/namespace.yml
        export BUILD_NUMBER=${{ github.run_number }}
        export AZURE_BLOB_CONN_STRING=${{ secrets.AZURE_BLOB_CONN_STRING }}
        export AZURE_BLOB_CONTIANER_NAME=${{ vars.AZURE_BLOB_CONTAINER_NAME_KUBE }}
        
        for FILE in "kube"/*
        do
          cat "$FILE" | envsubst | kubectl apply -f -
        done

  deploy_to_azure:
    needs: [build_and_push_api_to_dockerhub, build_and_push_web_to_dockerhub]
    runs-on: self-hosted
    steps:
    - name: Check out the code. 
      uses: actions/checkout@v4

    - name: run the deployment script
      run: |
        ./azure-deploy.sh \
          ${{ vars.DOCKERHUB_USERNAME }} \
          ${{ secrets.DOCKERHUB_TOKEN }} \
          ${{ vars.DOCKERHUB_USERNAME }}/derp-raven-api:${{ github.run_number }} \
          ${{ vars.DOCKERHUB_USERNAME }}/derp-raven-web:azure-${{ github.run_number }} \
          ${{ secrets.AZURE_DB_CONN_STRING }} \
          ${{ secrets.AZURE_BLOB_CONN_STRING }} \
          ${{ vars.AZURE_BLOB_CONTAINER_NAME_KUBE }}

